Some of the current and past projects and research I've been involved with
(click to reveal).


{% for group in groups %}
    <div class="group">
        <span class="groupName">
          <div style="font-weight: bold;">{{group.name}}</div> 
          <div>{{group.start}}&mdash;{{group.end}}</div>
        </span>
        <div>{{group.location}}</div>

        <ul>
        {% for project in group.projects %}
        <li>
            <div class="project">
                <span class=projectName>{{project.title}}</span>
                <div class="hiddenItem">
                    {{project.desc}}
                    <br>
                    {% if 'link' in project %}
                    <div class="link"><a href="{{project.link}}" target="_blank">
                            ({{project.link}})
                    </a></div>
                    {% endif %}
                </div>
                
            </div>
        </li>
        {% endfor %}
        </ul>
    
    </div>
{% endfor %}

{% markdown %}
    #### Pet projects and misc.
{% endmarkdown %}

<ul>
{% for project in petprojects %}
    <li>
        <div class="project">
            <span class=projectName>{{project.title}}</span>
            <div class="hiddenItem">
                {{project.desc}}
                <br>
                {% if 'link' in project %}
                <div class="link"><a href="{{project.link}}" target="_blank">
                        ({{project.link}})
                </a></div>
                {% endif %}
            </div>
            
        </div>
    </li>
{% endfor %}
</ul>

<script>
    for (var elem of document.getElementsByClassName('projectName')) {
            elem.addEventListener('click', toggleDescription);
        }
</script>

<style>
    #projects ul {
        margin-bottom: 8pt;
        margin-top: 4pt;
    }

    #projects ul > li {
        margin-bottom: 2pt;
    }

    div.group {
        margin-top: 20pt;
        margin-bottom: 8pt;
    }
    
    div.group > div {
        margin-top: 4pt;
        margin-bottom: 12pt;
    }
   
    div.project {
        margin-top: 10pt;
        margin-bottom: 8pt;
    }
    
    div.project > div {
        margin-top: 4pt;
        margin-bottom: 12pt;
    }

    div.link {
        margin-top: 5pt;
        margin-bottom: 10pt;
    }

    span.groupName {
        display: flex;
        justify-content: space-between;
    }

    span.projectName {
        text-decoration: underline;
    }

    span.projectName:hover {
        cursor: pointer;
    }

    span.projectName:active {
        color: #000000;
    }
</style>
